<mat-toolbar fxLayout="row" fxLayoutAlign="space-around center">
    <button class="bar-buttons" mat-button [matMenuTriggerFor]="menu">
        <a href="#" class="bar-buttons-text">menu</a>
    </button>
    <button class="bar-buttons" mat-button [matMenuTriggerFor]="aliments">
        <a href="#" class="bar-buttons-text">aliments</a>
      </button>
    <button class="bar-buttons" mat-button [matMenuTriggerFor]="recettes">
        <a href="#" class="bar-buttons-text">recettes</a>
      </button>
      <button class="bar-buttons" mat-button [matMenuTriggerFor]="repas">
          <a href="#" class="bar-buttons-text">repas</a>
      </button>
      <mat-menu class="bar-buttons" #menu="matMenu">
          <button  class="bar-buttons"  mat-menu-item>connexion</button>
          <button  class="bar-buttons"  mat-menu-item>recommandations ANSE</button>
        <button  class="bar-buttons"  mat-menu-item>contacts</button>
      </mat-menu>
      <mat-menu class="bar-buttons" #recettes="matMenu">
        <button  class="bar-buttons"  mat-menu-item>afficher</button>
        <button  class="bar-buttons"  mat-menu-item>créer</button>
      </mat-menu>
      <mat-menu class="bar-buttons" #repas="matMenu">
        <button  class="bar-buttons"  mat-menu-item>afficher</button>
        <button  class="bar-buttons"  mat-menu-item>créer</button>
      </mat-menu>
</mat-toolbar>