.bar-buttons{
    margin:5%;
    height:60%;
    width: 80%;
    border:none;
    background-color: rgba(255, 255, 255, 0.8);
    
}
.mt-tb-head{
    height: 120px;
    background-image: url('../../assets/images/headglyce.jpg');
    background-size: cover;
}

.bar-buttons-text{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    text-decoration-line: none;
}
.bar-buttons-text-drop{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Permanent Marker', cursive;
    text-decoration-line: none;
}

.bar-buttons-text:hover{
    color: rgb(121, 66, 66);
}
.bar-buttons-text-drop:hover{
    color: rgb(121, 66, 66);
}
