mat-toolbar{
    height: 50px;
    background-image: url("src/assets/images/footglyce2.jpg");
    background-size: cover;
    background-color:transparent

}

a {
        font-size: 40px;
        font-family: 'Permanent Marker', cursive;
        color: rgb(243, 13, 13);
    }
b {
        font-size: 30px;
        font-family: 'Permanent Marker', cursive;
        color: rgb(245, 233, 62);
    }