    <!--formulaire de recherche--> 
    <div class="search-form" fxLayout="row" fxLayoutAlign="space-around center">
      <mat-form-field class="form-field-margin">
       <input matInput placeholder="Nom de l'aliment">
      </mat-form-field>

      <mat-form-field class="form-field-margin">
        <input matInput placeholder="Nom de la catégorie">
      </mat-form-field>

      <mat-form-field class="form-field-margin">
        <mat-label>KCal/100g : </mat-label>
        <mat-select placeholder="Faites votre choix">
          <mat-option value="1">de 0 à 50</mat-option>
          <mat-option value="2">de 50 à 100</mat-option>
          <mat-option value="3">de 100 à 200</mat-option>
          <mat-option value="4">sup à 200</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field-margin">
        <mat-label>Indice glycémique: </mat-label>
        <mat-select>
          <mat-option value="IG faible">IG faible jusqu'à 39</mat-option>
          <mat-option value="IG moyen">IG moyen de 40 à 59</mat-option>
          <mat-option value="IG fort">IG fort > à 60</mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-icon-button><i class="material-icons send">send</i></button>
  </div>
  <!-- en tete des colonnes de mon tableau de resultats-->
  <div >
  <table fxFill mat-table [dataSource]="sortedAliments" matSort (matSortChange)="sortData($event)" class="">

      <!-- Aliment Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aliment </th>
        <td mat-cell *matCellDef="let aliment"> {{aliment.name}} </td>
      </ng-container>
    
      <!-- Categorie Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
        <td mat-cell *matCellDef="let aliment"> {{aliment.category}} </td>
      </ng-container>
    
      <!-- Calories Column -->
      <ng-container matColumnDef="energy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
        <td mat-cell *matCellDef="let aliment"> {{aliment.energy}} </td>
      </ng-container>
    
      <!-- Indice Glycémique Column -->
      <ng-container matColumnDef="ig">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Indice Glycémique </th>
        <td mat-cell *matCellDef="let aliment"> {{aliment.ig}} </td>
      </ng-container>

      <!-- Charge Glycémique Column -->
      <ng-container matColumnDef="cg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Charge Glycémique </th>
          <td mat-cell *matCellDef="let aliment"> {{aliment.cg}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

<!-- ############################################################ -->
<!-- #########         ANCIEN CODE A SUPPRIMER         ########## -->
<!-- ############################################################ -->

  <!-- <div class="aliment-table" fxLayout="row" fxLayoutAlign="space-around center">
      <table matSort (matSortChange)="sortData($event)">
        <thead>
          <tr>
            <th mat-sort-header="name">Aliment</th>
            <th mat-sort-header="category">Categorie</th>
            <th mat-sort-header="energy">Calories</th>
            <th mat-sort-header="ig">Indice Glycémique</th>
            <th mat-sort-header="cg">Charge Glycémique</th>
          </tr>
        </thead> -->
  <!-- colonnes de mon tableau de resultats-->
        <!-- <tbody>
          <tr *ngFor="let aliment of sortedAliments">
            <td>{{aliment.name}}</td>
            <td>{{aliment.category}}</td>
            <td>{{aliment.energy}}</td>
            <td>{{aliment.ig}}</td>
            <td>{{aliment.cg}}</td>
          </tr>
          <tbody> 
        </table>
      </div> -->
<!-- ############################################################ -->
<!-- ############################################################ -->    
  

  <!-- <div *ngIf="realDataService.idUrl">
    <div>
  {{ realDataService.listReal[realDataService.idUrl] }}
    </div>
  </div> -->


  <!--pop up de proprietes et champ qte, pour calcul CG-->
  <!--<div class="example-container" fxLayout="row" fxLayoutAlign="space-around center">
    <p for="reference">100g: </p> 
    <p for="protein">Protéines: {{ alimentSelected.protein }}</p>
    <p for="carb">Glucides: {{ alimentSelected.carb }}</p>
    <p for="sugar">Sucre: {{ alimentSelected.sugar }}</p>    
    <p for="lipid">Lipides: {{ alimentSelected.lipid }}</p>
    <p for="fibre">Fibres: {{ alimentSelected.fibre }}</p>
    <p for="salt">Sel: {{ alimentSelected.salt }}</p>
    <label for="QuantityAliment">Poids en g:</label>
    <input type="number" id="QuantityAliment" (ngModel)="quantityAliment">
    <button (onclick)="calculCg()">Calculer la CG</button>
    <p for="CG">Charge Glycémique: </p>
    <output>x{{ resultCg }}</output>
  </div-->

<!-- je propose d'ajouter ici l'alimentation de la liste des aliments (val)
  
  <ul>
  <li *ngFor="let aliment of aliments">
    <a (click)="showAlimentDetail(aliment, $event)" href="#"> {{aliment.name}}</a>
    <a> {{aliment.}</a>
  </li>
</ul>
-->