mat-toolbar{
    height: 55px;
    background-color: rgb(96, 214, 132);
    background-size: cover;
    font-size: 15px;
}

.titre{
    border-bottom: 2px solid green;
}

.stretch {
    width: 100%;
}

.poids{
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
}
mat-grid-tile{
    min-height: 40px;
}

.rouge {
    color: rgb(219, 98, 98);
}

.messErr {
    color: red;
    font-size: 12px;
    font-style: oblique;
    text-align: center;
 }

 .entete {
     font-weight: bold;
     text-align: center;
 }
 

