mat-toolbar{
    height: 50px;
    background-color: rgb(96, 214, 132);
    background-size: cover;
    font-size: 16px;
}

.titre-milieu{
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    border-bottom: 2px solid green;
    text-align: center;
}

.recette-nom{
    width: 100%;
}

.recette-com {
    display: flex;
}

.poids{
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
}
mat-grid-tile{
    min-height: 15px;
}

.rouge {
    color: rgb(219, 98, 98);
}

.messErr {
    color: red;
    font-size: 12px;
    font-style: oblique;
    text-align: center;
 }

 .center {
    display: flex;
 }
