.form-field-margin {
    margin: 10px;
    width: 100%;
  }

.search-form {
      padding-left: 2%;
      padding-right: 2%;  
      background-color: rgba(211, 211, 211, 0.2)
  }
 .aliment-table{
  padding-left: 2%;
  padding-right: 2%;  
  background-color: rgba(211, 211, 211, 0.2)
 } 
.send{
    color: rgb(255, 49, 76);
  }

  .btnDetail{
    cursor: pointer;
  }

  