.form-field-margin {
    margin: 10px;
    width: 100%;
  }

.search-form {
      padding-left: 2%;
      padding-right: 2%;  
      background-color: rgba(211, 211, 211, 0.2)
  }
 .aliment-table{
  padding-left: 2%;
  padding-right: 2%;  
  background-color: rgba(211, 211, 211, 0.2)
 } 
.send{
    color: rgb(255, 49, 76);
  }

  .cursorPointer{
    cursor: pointer;
  }

th{
  font-weight: bold;
  color: green;
}
  
.alim-select{
  width: auto;
  height: auto;
  background-color: rgba(211, 211, 211, 0.2);
  margin-bottom: 10px;
}
.cards{
  width: 32%;
  min-height: 100%;
}
.cards-head{
  background-color: lightgrey;
}
.chipsAliment{
  align-items: stretch;
  width: 30%;
  height: auto;
  min-height: 50px;

}
