<!-- Display of the list of recipes, and of detail of selected recipe-->
<div fxLayout="row" fxLayoutAlign="space-around start">

  <!-- Display of the list in first column of component -->
  <div fxLayout="column" fxLayoutAlign="space-around start">
    <h4>Mes recettes</h4>
    <mat-list dense>
      <mat-list-item>
        <a matLine>Créer</a>
        <button mat-icon-button>
          <mat-icon class="vert" routerLink="/recette/create" title="ajouter une recette">input</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngFor="let recette of listRecette">
        <a class="cursorPointer" title="cliquer sur la recette pour avoir le détail" 
        matLine (click)="selectRecette(recette)">{{ recette.name }} </a>
        <button mat-icon-button>
          <mat-icon>
            <a class="rouge" (click)="deleteRecette(recette.id)" title="supprimer cette recette">delete_forever</a>
          </mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <!-- Display of the detail in second column of component, this part is coding in a child component <app-recette-detail> -->
  <div fxLayout="column" fxLayoutAlign="space-around start">
    <app-recette-detail [recette]="selectedRecette"></app-recette-detail>
  </div>
</div>